<section class="reset-password">
  <div class="container">
  <div class="row align-items-center">
    <div class="col-md-6">
        <img class="img-responsive img-fluid" src = "assets/img/forget.png">
    </div>
    <div class="col-md-6 ">
      <div class="sectionHeader text-center ">
      <h3>Reset your password</h3>
    </div>
      <p>Submit your email address and we will send you a link to reset your account password</p>
      <form [formGroup] = "myForm" (ngSubmit)="onSubmit(myForm)">
      <mat-form-field >
          <input matInput placeholder="EMAIL" formControlName  = "email">
        </mat-form-field>
       
        <button type = "submit" [disabled]="!myForm.valid" text-center>Submit your Email</button>
      
      </form>
      <!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <input formControlName="name" placeholder="Your name">
        <input formControlName="email" placeholder="Your email">
        <input formControlName="message" placeholder="Your message">
      
        <button type="submit">Send</button>
      </form> -->

    </div>
  </div>
</div>
</section>