<section id="sideNav" class="p-4">
    <div class="text-center">
        <img src="../../../../assets/img/kamel.jpg" class="img-fluid">
        <h3>Nourhan Hassan</h3>
        <p>Babysitter</p>
        <hr>
    </div>
    <div class="contact">
        <ul>
            <li class="my-4">
                <a routerLink="dashboard" routerLinkActive="active">
                    <i class="fas fa-chart-pie p-2"></i> Dashboard
                </a>
            </li>
            <li class="my-4">
                <a routerLink="sitters" routerLinkActive="active">
                    <i class="fas fa-users p-2"></i> Sitters
                </a>
            </li>
            <li class="my-4">
                <a routerLink="cutomers" routerLinkActive="active">
                    <i class="fas fa-user-tie p-2"></i>Cutomers
                </a>
            </li>
            <li class="my-4">
                <a routerLink="orders" routerLinkActive="active">
                    <i class="fas fa-list p-2"></i>Orders
                </a>
            </li>
            <li class="my-4">
                <a routerLink="reviews" routerLinkActive="active">
                    <i class="fas fa-star p-2 "></i>Reviews
                </a>
            </li>
            <li class="my-4">
                <a routerLink="database" routerLinkActive="active">
                    <i class="fas fa-database p-2"></i>Database
                </a>
            </li>
            <li class="my-4">
                <a routerLink="documentation" routerLinkActive="active">
                    <i class="fas fa-folder-open p-2"></i>Documentation
                </a>
            </li>
        </ul>
    </div>
</section>