      $auto-margin: 0 auto;
      
      ///////////////////  COLORS  ////////////////////////
      $milk: #e8e8e8;
      $open: "Open Sans";
      $primary-color: #591AB4;
      $secondary-color: #28F29A;
      $icon-color: #35C6BC;
      $priper: #9B65EA;
      $grey: #FAFAFA;
      $black: #6E6E6E;
      $white: #FFF;
      $middle-grey:#e8e8e8;
      $dark-grey:#666666;


      ///////////////////  BACKGORUND IMAGES  ////////////////////////



                                           //////////  HOME PAGE  ////////////
                                           

      $header: url('/assets/images/home/header.png');
      $profiles: url('/assets/images/home/profiles.png');
      $reviews:  url('/assets/images/home/reviews-bg1.png');
      $subscribe:  url('/assets/images/subscribe/subscribe.png');


                                          /////////  SIGNUP PAGE   ////////////


   
      $foot:url('../images/signup/foot.png');



                                          /////////  PROFILE DETAILS   ////////////

      $vendors: "-webkit",
                  "-moz-",
                  "-o-",
                  "";


      ///////////////////  FONTS  ////////////////////////

      $open-sans-extra-bold: url('/assets/fonts/OpenSans-ExtraBold.ttf');
      $open-sans-bold: url('/assets/fonts/OpenSans-Bold.ttf');
      $open-sans-semi-bold: url('/assets/fonts/OpenSans-SemiBold.ttf');
      $open-sans-regular: url('/assets/fonts/OpenSans-Regular.ttf');