<div class="password-submit">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- IMAGE -->
      </div>
      <div class="col-md-6">
        <div class="sectionHeader text-center  ">
          <h3>Submit your password</h3>
        </div>
          <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <mat-form-field>
              <input matInput type = "password" placeholder="PASSWORD" formControlName="password">
            </mat-form-field>
            <div *ngIf="myForm.controls.password.errors?.pattern">
              <div class="alert alert-danger">
                  Invalid Password
              </div>
          </div>
            <mat-form-field>
              <input matInput type = "password" placeholder="CONFIRM PASSWORD" formControlName="confirmpassword">
            </mat-form-field>
            <div *ngIf="myForm.controls.confirmpassword.errors?.equalTo" class="alert alert-danger">
              Passwords do not matched
          </div>
              <button type="submit" [disabled]="!myForm.valid" text-center>Submit your Password</button>
            
            <div
            *ngIf="myForm.errors?.mismatch && (myForm.controls.confirmpassword.dirty || myForm.controls.confirmpassword.touched)">
          </div>
          </form>
        
      </div>
    </div>
  </div>
</div>