.card-style{
    background-color: #ffffff;
    border-radius: 1rem;
}
.yellow{
    color: #FFCC00;
}
.card-body{
    padding: 2rem 0 !important;
}
.padding{
    padding: 1.3rem;
}
.img-rate{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
.card{
    border: 0;
}
.font-med{
    font-size: 1.2rem;
}