<section class="email-send">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <img class="img-responsive img-fluid" src = "assets/img/forget.png">
      </div>
      <div class="col-md-6">
        <div class="sectionHeader text-center">
          <h3>Email Sent !</h3>
        </div>
        <p>We sent a message to your email so you can set your account password, check your email inbox</p>
        <p>Don't get your email? Send us your problem.</p>
        <p> Not your email address ? <span>Try again.</span>
      </div>
    </div>
  </div>
</section>