<!-- <section id="reviews" class="mt-3">
    <div class="card p-4">
        <div class="media my-3">
            <img src="../../../../assets/img/kamel.jpg" class="align-self-center mr-3 img-fluid" alt="...">
            <div class="media-body">
                <h5 class="mt-0">Sofia Adham</h5>
                <p><i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i></p>
                <p class="mb-0">My name is Amany Ali and I love kids, I'm First Aid certified. I also have my own transportation </p>
            </div>
        </div>
        <hr>
        <div class="media my-3">
            <img src="../../../../assets/img/kamel.jpg" class="align-self-center mr-3 img-fluid" alt="...">
            <div class="media-body">
                <h5 class="mt-0">Sofia Adham</h5>
                <p><i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i></p>
                <p class="mb-0">My name is Amany Ali and I love kids, I'm First Aid certified. I also have my own transportation </p>
            </div>
        </div>
        <hr>
        <div class="media my-3">
            <img src="../../../../assets/img/kamel.jpg" class="align-self-center mr-3 img-fluid" alt="...">
            <div class="media-body">
                <h5 class="mt-0">Sofia Adham</h5>
                <p><i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i></p>
                <p class="mb-0">My name is Amany Ali and I love kids, I'm First Aid certified. I also have my own transportation </p>
            </div>
        </div>
        <hr>
        <div class="media my-3">
            <img src="../../../../assets/img/kamel.jpg" class="align-self-center mr-3 img-fluid" alt="...">
            <div class="media-body">
                <h5 class="mt-0">Sofia Adham</h5>
                <p><i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i></p>
                <p class="mb-0">My name is Amany Ali and I love kids, I'm First Aid certified. I also have my own transportation </p>
            </div>
        </div>
        <hr>
    </div>
</section> -->