<h3 mat-dialog-title> PROPOSAL </h3>


<mat-dialog-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

      <mat-form-field>
        <input matInput placeholder="FROM" formControlName = "from">
      </mat-form-field>
    
  
      <mat-form-field>
        <input matInput placeholder="TO" formControlName = "to">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="HOURS" formControlName = "hours">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="PHONE" formControlName = "phone">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="ADDRESS" formControlName = "address">
      </mat-form-field>
    
      <!-- <mat-form-field>
        <input matInput placeholder="STATE" formControlName = "state">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="POSTAL-CODE" formControlName = "postalcode">
      </mat-form-field> -->

      <mat-form-field>
        <input matInput placeholder="INFO" formControlName = "info">
      </mat-form-field>
    
    
    <mat-dialog-actions align="end">
      <button mat-button  type = "submit">make a request</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
    </mat-dialog-actions>
<!-- <button type = "submit">request</button> -->
  </form>
</mat-dialog-content>
