<!-- <app-navbar></app-navbar>
<div class="row no-gutters">
    <div id="sideNav" class="col-lg-3 col-md-5 col-sm-12">
        <app-side-nav></app-side-nav>
    </div>
    <div class="col-lg-9 col-md-7 col-sm-12 px-5">
        <router-outlet></router-outlet>
    </div>
</div> -->
<!-- <app-profile></app-profile> -->
<!-- <app-login></app-login> -->
<!-- <app-settings></app-settings> -->
<!-- <app-profile-sitter></app-profile-sitter> -->
<!-- <app-profile-details></app-profile-details> -->
<!-- <app-reset-password></app-reset-password> -->
<app-password-submit></app-password-submit>
<!-- <app-email-sent></app-email-sent> -->
<!-- <app-personal-info></app-personal-info> -->