<!-- Start Navbar -->
<div id="navbar">
    <div class="container">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#"><img class="img-fluid" src="../../../assets/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item mx-4">
                            <a class="nav-link" href="#">PROFILES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ABOUT</a>
                        </li>
                        <li class="nav-item mx-4">
                            <a class="nav-link" href="#">CAREERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">SIGN IN</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar -->
<!-- Start Signup Section -->
<section id="signup" class="py-5">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <img class="img-fluid" src="../../../assets/img/signin.png" alt="signup">
                </div>
                <div class="col-md-6 col-xs-12">
                    <h2 class="text-center">Sign In Now</h2>
                    <!-- Start Form -->
                    <form [formGroup]="login" (ngSubmit)="loginData(login)">
                        <!-- Start Stepper -->
                        <!-- Start Fist Step -->
                        <div class="row">
                            <!-- Email -->
                            <div class="col-12 mt-3">
                                <div class="row align-items-center">
                                    <div class="col-1">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="col-11">
                                        <mat-form-field>
                                            <input matInput placeholder="Email" formControlName="email">
                                        </mat-form-field>
                                        <mat-hint class="alert alert-danger d-block" *ngIf="login.controls.email.touched && login.controls.email.errors?.required">
                                            This field is required</mat-hint>
                                        <mat-hint class="alert alert-danger d-block" *ngIf="login.controls.email.dirty && login.controls.email.errors?.pattern">
                                            Invalid Email</mat-hint>
                                    </div>
                                </div>
                            </div>
                            <!-- Password -->
                            <div class="col-12 mt-3">
                                <div class="row align-items-center">
                                    <div class="col-1">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    <div class="col-11">
                                        <mat-form-field>
                                            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
                                            <mat-icon matSuffix (click)="hide = !hide">
                                                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </mat-form-field>
                                        <mat-hint class="alert alert-danger d-block" *ngIf="login.controls.password.touched && login.controls.password.errors?.required">
                                            This field is required</mat-hint>
                                        <mat-hint class="alert alert-danger d-block" *ngIf="login.controls.password.dirty && login.controls.password.errors?.pattern">
                                            Password should have at Least 1 UPPERCASE and Special characters
                                        </mat-hint>
                                        <mat-hint class="alert alert-danger d-block" *ngIf="login.controls.password.errors?.minlength">Password should have at least 6 characters</mat-hint>
                                        <mat-hint class="alert alert-danger d-block" *ngIf="login.controls.password.errors?.maxlength">Password should have at most 12 characters</mat-hint>

                                    </div>
                                </div>
                            </div>
                            <!-- Confirm Password -->

                        </div>
                        <div class="text-center mt-5">
                            <button mat-button type="submit">Login</button>
                        </div>

                        <!-- End First Step -->

                        <!-- Start Third Step -->

                        <!-- End Stepper -->
                    </form>
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Footer -->
<footer class="py-5 text-center">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <img class="img-fluid" src="../../../assets/img/logo footer.svg" alt="">
                </div>
                <div class="col-12 row my-4">
                    <div class="col-custom">
                        <a href="#">About Us</a>
                    </div>
                    <div class="col-custom">
                        <a href="#">Profiles</a>
                    </div>
                    <div class="col-custom">
                        <a href="#">Trust & Safety</a>
                    </div>
                    <div class="col-custom">
                        <a href="#">Careers</a>
                    </div>
                    <div class="col-custom">
                        <a href="#">Contact Us</a>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="social">
                        <i class="fab fa-facebook-f mx-2"></i>
                        <i class="fab fa-linkedin-in mx-2"></i>
                        <i class="fab fa-instagram mx-2"></i>
                        <i class="fab fa-twitter mx-2"></i>
                        <i class="fab fa-behance mx-2"></i>
                    </div>
                </div>
                <div class="col-12">
                    <hr>
                    <p>Made by GALEES , Copy Rights are Reserved &copy; 2019</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->