<!-- Start Footer -->
<footer class="py-5 text-center">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <img class="img-fluid" src="../../../assets/img/logo footer.svg" alt="">
                </div>
                <div class="col-12 row my-4">
                    <div class="col-custom">
                        <a href="#">About Us</a>
                    </div>
                    <div class="col-custom">
                        <a href="#">Profiles</a>
                    </div>
                    <div class="col-custom">
                        <a href="#">Trust & Safety</a>
                    </div>
                    <div class="col-custom">
                        <a href="#">Careers</a>
                    </div>
                    <div class="col-custom">
                        <a href="#">Contact Us</a>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="social">
                        <i class="fab fa-facebook-f mx-2"></i>
                        <i class="fab fa-linkedin-in mx-2"></i>
                        <i class="fab fa-instagram mx-2"></i>
                        <i class="fab fa-twitter mx-2"></i>
                        <i class="fab fa-behance mx-2"></i>
                    </div>
                </div>
                <div class="col-12">
                    <hr>
                    <p>Made by GALEES , Copy Rights are Reserved &copy; 2019</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->